.project-page {
  margin-top: -20px;
}

.project-header {
  align-content: center;
  justify-content: center;
  display: flex;
}

.project-grid {
  padding-top: 50px;
  align-content: center;
  justify-content: center;
  display: flex;
  margin: auto;
}

.project-grid-row {
  margin-bottom: 1rem !important;
}
